## Remove files from releases
# git files
.gitattributes export-ignore
.gitignore export-ignore
_site/ export-ignore
Gemfile export-ignore
Gemfile.lock export-ignore
README.md export-ignore

# SAMIT documentation
*.doc export-ignore
*.docx export-ignore
